---
import Layout from '../layouts/Layout.astro';
---

<Layout title="HüllerPolitCamp">
	<main>
		<section class="container py-4">
			<h2 class="text-primary">Noch Fragen?</h2>
			<p>Du erreichst uns jeder Zeit per Mail an <a class="link-opacity-100-hover" href="#">bf@abc-huell.de</a> und wir stehen dir gerne bei Fragen zur Seite. Übliche Eine Ansammlung an oft aufkommenden Fragen haben wir dir hier bereits beantwortet:</p>
			<div>
				<h3>Wie komme ich zum HüPC?</h3>
  				<p>Wenn du per Auto, oder Fahrrad anreist, kannst du direkt vor Ort im Hof parken. Die Adresse für dein Navi lautet: <span class="">Bauernreihe 1, 21706 Drochtersen</span>.<br>
	  			Kommst du per ÖPNV, holen wird dich am Donnerstag gemeinsam mit anderen Teilnehmenden vom Zug, der um 16:08 Uhr in Himmelpforten ankommt ab, und bringen dich am 23.4. zum Zug, der um 15:51 Uhr abfährt. Dazu fragen wir im Anmeldeformular ab, ob du ein Shuttle brauchst. Wenn du erst später oder am Freitag anreisen kannst ist das kein Problem (das erfragen wir im ebenfalls Formular). Wir werden am Freitag vormittag noch ein gemeinsames Shuttle anbieten. Himmelpforten ist der nächstgelegene Bahnhof und liegt im Gesamtbereich des HVV. <br>Bei Bedarf können wir die Gruppe im Vorfeld untereinander vernetzen, damit Fahrgemeinschaften mit Zug oder Auto gebildet werden können.</p>
  			</div>
			<div>
				<h3>Lohnt es sich nicht für die gesamte Zeit zu kommen?</h3>
				<p>Am ersten Tag ist nur die Begrüßung am letzten Tag nur die Abreise. Alles dazwischen als ganzer Tag lohnt sich gg auch, je nach Anreiseweg.</p>
			</div>
			<div>
				<h3>Was kostet das Event?</h3>
				<p>Die Teilnahme ist spendenbasiert. Das HüPC kostet Geld, wir wollen aber niemanden ausschließen. Deswegen bieten wir unterschiedliche Preise an. Wenn eine Spende für das ABC Bildungs- und Tagungszentrum für dich möglich ist, gib nach Selbsteinschätzung einen selbst gewählten Preis an. Jeder Euro hilft den Erhalt des ABC auch nach der Corona-Krise sicherzustellen. Wenn du es dir nicht leisten kannst, kannst du aber auch kostenlos teilnehmen. Weil wir möglichst vielen Menschen die Online-Bezahlung ermöglichen wollen haben wir neben Überweisungen auch Paypal als Zahlungsoption. Wir freuen uns aber, wenn es für dich möglich ist, eine reguläre Überweisung zu machen. Dann geht das Geld komplett an uns und nicht an den Zahlungsdienst.</p>
			</div>
			<div>
				<h3>Was darf in meinem Reisegepäck nicht fehlen?</h3>
				<p>Bettwäsche und Handtücher kannst du dir vor Ort gegen einen Umkstenbeitrag leihen. Alles weitere was du für Übernachtungen brauchst, solltest du selbst mitbringen. Wir empfehlen warme Socken, eine bequeme Hose und deine Liebsten Gesellschaftsspiele für die Abend-Unterhaltung.</p>
			</div>
			<div>
				<h3>Was für Essen erwartet mich?</h3>
				<p>Da vor Ort frisch gekocht wird, kann auf Allergien und Besonderheiten rücksicht genommen werden. Bitte gebe deine Präferenzen und Besonderheiten bei der Anmedung an.</p>
			</div>
			<div>
				<h3>Kann ich vor Ort einkaufen?</h3>
				<p>Die schnelle Antwort ist nein. Es gibt einen kleinen Dorf-Edeka x Minuten zu Fuß entfernt. Mit einem Auto kann man auch weiter in einen REWE fahren. Vor Ort kann man Snack und Getränke kaufen.</p>
			</div>
			<div>
				<h3>Wie erfolgt die Unterbringung?</h3>
				<p>In Mehrbettzimmer mit Gemeinschaftsdusche und Bad.</p>
			</div>
			<div>
				<h3>Kann ich meinen Hund mitbringen?</h3>
				<p>Doggo!!!</p>
			</div>
			<div>
				<h3>Ich habe jetzt schon eine Idee worüber ich reden möchte.</h3>
				<p>Das klingt gut! Wenn du möchtest kannst du sie bereits im <a class="link-opacity-100-hover" href="#">Camper Organisations-Tool</a> eintragen.</p>
			</div>
			<div>
				<h3>Wie steht es um Bettwäsche und Handtücher?</h3>
				<p>Du kannst beides selber mitbringen, oder vor Ort für Betrag X leihen.</p>
			</div>
			<div>
				<h3>An welche Altersgruppe richtet sich das Event?</h3>
				<p>Mehrgenerationen-Event für alle von 14/16 bis 1000000 Jahre.</p>
			</div>
			<div>
				<h3>Kann ich ein Einzelzimmer bekommen?</h3>
				<p>Wir verfügen über eine sehr begrenzte Anzahl an Einzelzimmern. Falls du unbedingt in ein Einzelzimmer willst, gib das bitte unter “Zimmerwünsche” an. Wir bitten für Einzelzimmer um einen Teilnahmebeitrag ab 50€ (im Formular anpassbar).</p>
			</div>
			<div>
				<h3>Wie ist der Ablauf vor Ort wenn es kein Programm gibt?</h3>
				<p>Jeden Morgen nach dem Frühstück setzen wir uns für eine gemeinsame Tagesplanung zusammen und </p>
			</div>
			<div>
				<h3>Wie hoch ist ein empholener Spendenbetrag?</h3>
				<p>von x bis y Euro.</p>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	.link-opacity-100-hover:hover{
    	background-color: #F8BC72;
	}
</style>