---
import Layout from '../layouts/Layout.astro';

import * as text from '../content/pages/faq.md';
---

<Layout title="HüllerPolitCamp">
	<main>
		<section class="container py-4">
			<h1 class="text-primary">{text.frontmatter.title}</h1>
			<p set:html={text.compiledContent()}/>
		</section>
	</main>
</Layout>

<style lang="scss">
	.link-opacity-100-hover:hover{
    	background-color: #F8BC72;
	}
</style>