---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Quiz from '../components/Quiz.astro';
---

<Layout title="HüllerPolitCamp">
	<main>
		<Hero />

		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Datum</h3>
					<span class="fs-5">12.12.2024 - 12.12.2024</span>
				</div>
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Ort</h3>
					<span class="fs-5">ABC Bildungs-<br> und Tagungszentrum, Hüll</span>
				</div>
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Preis</h3>
					<span class="fs-5">Nix, aber Spende pls</span>
				</div>
			</div>
		</div>

		<div class="container mt-4">
			<h2>Zur Geschichte des HüPC: Das JugendPolitCamp!</h2>
			<p>Aus dem JugendPolitCamp wird in diesem Jahr: das Hüller PolitCamp!
			Das JugendPolitCamp (JPC) geht ins elfte Jahr. Viele Teilnehmende haben diese Jahre kontinuierlich mitgestaltet. Nun ist diese erste Generation JPC langsam aus dem Jugendalter herausgewachsen. Das ändert nichts daran, dass sie Räume suchen und gestalten wollen, in denen sie sich als Aktivist*innen, politische Bildner*innen – die sie zum Teil inzwischen sind – oder einfach politisch interessierte Menschen austauschen, vernetzen und Pläne schmieden können. So entstand die Idee, das JPC dieses Jahr für einen intergenerativen Austausch zu öffnen.<br>
			Dieses Format soll nicht bedeuten, dass sich das JPC abschafft. Es ist eher als ein Übergang zu verstehen, denn wir wollen jungen Menschen weiterhin frei gestaltbaren Raum bieten, in dem sie unter sich sind. Wir hoffen, dass das diesjährige Format junge Menschen anspricht, die Lust haben, das JPC zukünftig weiterzuführen.</p>
			<Quiz />
		</div>
	</main>
</Layout>
