---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="HüllerPolitCamp">
	<main>
		<Hero />

	</main>
</Layout>

<style>
	h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
	}
</style>
