---
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';

import Pride from '../../pride.webp';

import * as text from '../content/pages/orga.md';
---

<Layout title="HüllerPolitCamp">
	<main>
		<div class="container py-4">
			<h1 class="text-primary pb-md-1">{text.frontmatter.title}</h1>
			<p class="fst-italic">{text.frontmatter.subtitle}</p>
			<div class="row">
				<div class="col-md-4">
					<img src={Pride} class="mw-100 p-md-5">
				</div>
				<div class="col-md-8 pt-md-5"><p set:html={text.compiledContent()}/></div>
		</div>
	</main>
	<CallToAction />
</Layout>