---
import Layout from '../layouts/Layout.astro';

import Spaziergang from '../../public/spaziergang.jpg';
import ABC from '../../public/abc-seite.jpg';
import Essen from '../../public/vegie.jpg';
---

<Layout title="HüllerPolitCamp">
	<main>
		<div class="container py-4">
			<h1 class="text-primary pb-md-1">Das ABC Tagungs- und Bildungszentrum</h1>
			<p class="fst-italic">Begegnunsstätte auf der politischen Bildungslandschaft</p>
			<div class="row">
				<div class="col-md-8 pt-md-5">
					<h2 class="text-primary">Veranstaltungsort</h2>
					<p>Das ABC Bildungs- und Tagungszentrum bietet neben Übernachtungsmöglichkeiten auch Tagungsmöglichkeiten. In den drei Gebäuden des ABC befinden sich fünf große, helle Gruppenräume. Die Räume sind medial ausgestattet, außerdem gibt es eine große Vielfalt an Sportausstattung. Durch die Diversität der Räume in Sachen Größe und Fußbodentypen ist für jede Art von Veranstaltung von Seminar zu Kino zu Party zu Sportevent das richtige dabei. Zu genaueren Infos über die Ausstattung sprechen Sie uns gerne an.</p>
					<a href="#" class="btn btn-secondary">ABC Webseite</a>
				</div>
				<div class="col-md-4">
					<img src={ABC} class="mw-100 p-md-5">
				</div>
			</div>
			<div class="">
				<div class="">
					<h2 class="text-primary">Unterbringung und Verpflegung</h2>
					<p>Im charmanten Fachwerk-Haupthaus, dem anliegenden ehemaligen Stall und unserem Neubau befinden sich 27 Zimmer mit insgesamt 84 Betten. Es gibt bisher ein barrierefreies Zimmer mit zwei Betten. Am Ausbau der Barrierefreiheit arbeiten wir (siehe Disability Statement) Wir bieten von Einzelzimmer mit eigenem Bad bis zu Vierbettzimmer mit geteiltem Bad alles an und können so ein passendes Angebot für alle Gruppen finden.</p>
					<p>Unsere Küche kocht täglich frisch für unsere Gäste. Dabei legen wir großen Wert auf eine gesunde, vitaminreiche und abwechslungsreiche Verpflegung. Wir verwöhnen unsere Gäste mit kreativen, überwiegend vegetarischen Leckereien. Außer nach besonderer Absprache kochen wir zudem schweinefleischfrei.</p>
				</div>
			</div>
			<div class="row py-md-3">
				<div class="col-md-4">
					<img src={Spaziergang} class="mw-100 p-md-5">
				</div>
				<div class="col-md-8">
					<h2 class="text-primary">An- und Abreise</h2>
					<p>Wir holen dich am Donnerstag gemeinsam mit anderen Teilnehmenden vom Zug, der um 16:08 Uhr in Himmelpforten ankommt ab, und bringen dich am 23.4. zum Zug, der um 15:51 Uhr abfährt. Dazu fragen wir im Anmeldeformular ab, ob du ein Shuttle brauchst. Wenn du erst später oder am Freitag anreisen kannst ist das kein Problem (das erfragen wir im Formular). Wir werden am Freitag vormittag noch ein gemeinsames Shuttle anbieten. Der nächstgelegene Bahnhof ist Himmelpforten, das liegt im Gesamtbereich des HVV. Bei Bedarf können wir die Gruppe im Vorfeld untereinander vernetzen, damit Fahrgemeinschaften mit Zug oder Auto gebildet werden können.
					Wenn du erst später oder am Freitag anreisen kannst ist das kein Problem (das erfragen wir im Formular). Wir werden am Freitag vormittag noch ein gemeinsames Shuttle anbieten. Wenn du zu anderen Zeiten an- oder abreist gibt es Sammeltaxis.</p>
				</div>
			</div>
		</div>
	</main>
</Layout>