---

---

<div class="bg-primary p-5">
	<div class="container">
		<div class="d-flex flex-column align-items-center justify-content-center sm-flex-row">
			<div class="d-flex flex-column">
				<h2 class="text-white">Noch Fragen?</h2>
				<a href="/faq/" class="btn bg-white font-weight-bold">Zum FAQ</a>
			</div>
			<hr class="sm-visually-hidden">
			<div class="d-flex flex-column sm-border-white-left sm-ms-5 sm-ps-5">
				<h2 class="text-white">Überzeugt?</h2>
				<a href="https://pretix.eu/abc-huell/huepc24/" class="btn bg-white font-weight-bold">Jetzt anmelden</a>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
@include media-breakpoint-up(sm) {
	.sm-border-white-left {
		border-left: 5px solid white;
	}
	.sm-visually-hidden {
    	display: hidden;
	}

	.sm-flex-row {
		flex-direction: row !important;
	}

	.sm-ms-5 {
		margin-left: 30px;
	}
	.sm-ps-5 {
		padding-left: 30px;
	}
}
</style>
