---

---

<div class="bg-primary p-5">
	<div class="container">
		<div class="d-flex flex-row align-items-center justify-content-center">
			<div class="d-flex flex-column">
				<h2 class="text-white">Noch Fragen?</h2>
				<a href="/faq/" class="btn bg-white font-weight-bold">Zum FAQ</a>
			</div>
			<div class="d-flex flex-column border-white thick-border-left ms-5 ps-5">
				<h2 class="text-white">Überzeugt?</h2>
				<a href="#" class="btn bg-white font-weight-bold">Jetzt anmelden</a>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.thick-border-left {
    	border-left: 3px solid;
	}
</style>