---
import Alpaka from '../../public/71ECB0A2-9E8D-4EAC-A0B8-931B1777F10E.png';
import Alpakas from '../../public/Alpakas.svg';
import AlpakaLogo from '../components/AlpakaLogo.astro';
---

<header class="mb-4">
	<div class="container">
		<div class="col title">
			<h1>Polit Camp</h1>
			<h2>12.12.2024 - 12.12.2024</h2>

			<button class="btn btn-primary">Sick brah sign me up</button>
		</div>
	</div>
</header>

<style lang="scss">
header {
	background: url(/hero-raised-arms.PNG);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 75vh;

	color: #1a073b;

	.title {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 3.5rem;
			font-weight: 800;
			line-height: 1;
			margin-top: 18rem;
			margin-bottom: 1rem;
			font-family: "Sigmar", sans-serif;
			text-transform: uppercase;
			text-shadow: -5px 5px 0px #FFFFFF;
		}

		h2 {
			font-size: 2.5rem;
			font-weight: 700;
			margin: 0;
			font-family: "Sigmar", sans-serif;
			text-shadow: -5px 5px 0px #FFFFFF;
		}

		button {
			margin-top: 2rem;
		}
	}
}
</style>
