---
import NavBar from '../components/NavBar.astro';
---

<header class="mb-4 d-flex flex-column">
	<NavBar />
	<div class="hero-inner flex-grow-1 d-flex flex-column align-items-center justify-content-end">
		<h1 class="text-primary"><span class="smaller">Hüller</span><br>Polit Camp</h1>
	</div>

	<div class="mt-4 d-flex flex-column align-items-center">
		<a href="#" class="btn btn-primary row btn-lg mt-3">Jetzt Anmelden</a>
	</div>
</header>

<style lang="scss">
header {
	background: $hero-navbar-gradient;
	background-size: cover;
	background-position: center -30px, center;
	background-repeat: no-repeat;

	--mask:
	radial-gradient(111.80px at 50% calc(100% - 150.00px),#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
	radial-gradient(111.80px at 50% calc(100% + 100.00px),#0000 99%,#000 101%) 50% calc(100% - 50px)/200px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);

	padding-bottom: 100px;

	.hero-inner {
		background: url(/logo.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		height: max(300px, 30vh);

		h1 {
			text-align: center;
			font-size: 5.0rem;
			font-weight: 800;
			line-height: 1;
			font-family: "Sigmar", sans-serif;
			text-transform: uppercase;
			text-shadow: -2px 4px 0 #fff, 0 -2px 0 #fff, 1px 0 0 #fff;

			.smaller {
				font-size: 3rem;
			}
		}

		@include media-breakpoint-down(md) {
			height: max(550px, 30vh);
		}
	}
}
</style>
