---

---

<header class="mb-4">
	<div class="container">
		<div class="row">
			<div class="col title">
				<h1 class="text-primary"><span class="smaller">Hüller</span><br>Polit Camp</h1>
			</div>
		</div>
		<div class="row">
			<div class="col title">
				<a href="#" class="btn btn-primary row w-25">Jetzt Anmelden</a>				
			</div>
		</div>
	</div>
</header>

<style lang="scss">
header {
	background: url(/hero.webp);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 75vh;

	--mask:
	radial-gradient(111.80px at 50% calc(100% - 150.00px),#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
	radial-gradient(111.80px at 50% calc(100% + 100.00px),#0000 99%,#000 101%) 50% calc(100% - 50px)/200px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);

	.title {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 5.0rem;
			font-weight: 800;
			line-height: 1;
			margin-top: 17rem;
			margin-bottom: 2rem;
			font-family: "Sigmar", sans-serif;
			text-transform: uppercase;
			text-shadow: -4px 4px 0px #FFFFFF;

			.smaller {
				font-size: 3rem;
			}
		}

		h2 {
			font-size: 2.5rem;
			font-weight: 700;
			margin: 0;
			font-family: "Sigmar", sans-serif;
			text-shadow: -5px 5px 0px #FFFFFF;
		}

		button {
			margin-top: 2rem;
		}
	}
}
</style>
