---
import Abc from '../../public/abc.jpg'
import Dachstuhl from '../../public/arbeiten-am-dachstuhl.jpg'
import Huell from '../../public/huell.jpg'
---
<section class="container my-4">
	<div class="row align-items-center">
		<div class="col-md-5">
			<img src={Huell} aria-hidden="true" class="mw-100 p-5" />
		</div>
		<div class="col-md-7 p-4">
			<h2 class="text-primary">Auf nach Hüll!</h2>
			<p>Ja, Hüll liegt in Niedersachsen am Ende der Welt. Aber wir geben alles, damit du trotzdem kommst. Keine ÖPNV Verbindung direkt zum Tagungszentrum? Wir holen dich und alle Anderen vom Bahnhof in Himmelpforten ab. Keine Supermärkte in Laufreichweitere? Hier gibt es drei frisch vor Ort gekochte Mahlzeiten am Tag und zusätzlich Kaffee und Kuchen. Auf Unverträglichkeiten können so sogar besonders Rücksicht nehmen. Gratis Wasser und Tee vor Ort und Auswahl an der Getränke und Snackbar. Schnelles Internet auf dem ganzen Gelände, Kamera und Laptops zum Leihen und eine moderne Multi-Media-Ausstattung erwarten dich. Untergebracht wirst du vor Ort im alten schön ausgebauten Bauernhaus mit Blick auf Katzen und Alpakas im Garten.<br>
			Du willst noch mehr über das ABC erfahren, oder einen Blick in die Zimmer werfen?</p>
			<button class="btn btn-secondary">Mehr Infos zum ABC</button>
		</div>
	</div>
</section>