---
import Kamin from '../../public/kamin.jpg';
import Sessions from '../../public/sessions.jpg';
import Cat from '../../public/cat.jpg';
import Alpaka from '../../public/alpaka.jpg';
import Vegie from '../../public/vegie.jpg';
import Vegan from '../../public/vegan.jpg';
import VisitSession from '../../public/visit-session.jpg';
import Paper from '../../public/paper.jpg';
import Tech from '../../public/tech.jpg';
import Politic from '../../public/politic.jpg';
import Society from '../../public/society.jpg';
---
<script>
	const options = [
		{
			option1: "Katzen",
			image1: '../../public/cat.jpg',
			option2: "Alpakas",
			image2: '../../public/alpaka.jpg'
		},		
		{
			option1: "Kaminfeuer",
			image1: '../../public/kamin.jpg', 
			option2: "Sessions besuchen",
			image2: '../../public/sessions.jpg'
		},
		{
			option1: "vegetarisch",
			image1: '../../public/vegie.jpg',
			option2: "vegan",
			image2: '../../public/vegan.jpg'
		},
		{
			option1: "Session veranstalten",
			image1: '../../public/sessions.jpg',
			option2: "Session besuchen",
			image2: '../../public/visiting-session.jpg'
		},
		{
			option1: "Zettel und Stift",
			image1: '../../public/paper.jpg',
			option2: "Tastatur",
			image2: '../../public/tech.jpg'
		},
		{
			option1: "Politik",
			image1: '../../public/politic.jpg',
			option2: "Gesellschaft",
			image2: '../../public/society.jpg'
		}
	]

	let currentQuestion = -1;

	function next() {
		currentQuestion++;
		if(options[currentQuestion] === undefined) {
			document.getElementById('comparing').style.display = 'none';
			document.getElementById('result').style.display = 'block';
			return;
		}

		document.getElementById('opt1').innerHTML = options[currentQuestion].option1;
		document.getElementById('img1').src = options[currentQuestion].image1;
		document.getElementById('opt2').innerHTML = options[currentQuestion].option2;
		document.getElementById('img2').src = options[currentQuestion].image2;
	}	

	addEventListener("load", (event) => {
		next();

		document.getElementById('leftCard').addEventListener("click", (event) => {
			next();
		});	

		document.getElementById('rightCard').addEventListener("click", (event) => {
			next();
		});	
	});

	function rotation() {
		var card1 = document.getElementById('leftCard');
		var card2 = document.getElementById('rightCard');
		card1.add(" rotate");
		card2.add(" rotate");
	}
</script>

<section class="content bg-secondary p-3">
	<div class="container bg-white p-3 text-center rounded-4 d-flex flex-column align-items-center">
		<h2 class="text-primary">Noch unsicher?</h2>
		<p>Du fragst dich, ob du zum HüPC kommen solltest? Mache ein Quiz und entscheide selbst.</p>
		<div id="comparing" class="comparing">
			<div class="center">
				<div id="leftCard" class="article-card animation" onclick="rotation()">
					<div class="content">
						<p id="opt1" class="title"></p>
					</div>
					<img src={Kamin} aria-hidden="true" id="img1" />
				</div>
			</div>
			<div>
				<p class="versus text-primary p-4 fs-2">VS</p>
			</div>
			<div class="center">
				<div id="rightCard" class="article-card animation" onclick="rotation()">
					<div class="content">
						<p id="opt2" class="title"></p>
					</div>
					<img src={Sessions} aria-hidden="true" id="img2" />
				</div>
			</div>
		</div>
		<div id="result" class="card hidden" style="width: 18rem;">
  			<div class="card-body result-card">
    			<h3 class="card-title">Ergebnis</h3>
    			<p class="card-text">Die Antworten haben dir hoffentlich schon einen ersten Eindruck geben können, was dich auf dem HüPC erwartet. Das Ergebnis ist einfach: Natürlich solltest du vorbeischauen.</p>
    			<a href="#" class="btn btn-primary">Jetzt anmelden!</a>
    		</div>
  		</div>
	</div>
</section>

<style lang="scss">
	.content {
		padding: 1rem var(--content-x-padding);
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}

	.comparing {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.center {
		display: flex;
		align-items: center;
		justify-content: center;
	}	

	.article-card {
		width: 220px;
		height: 350px;
		border-radius: 12px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 300ms;
	}

	.article-card:active {
		transform: none;
	}	

	.article-card:hover {
		transform: translateY(-2px);
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}	

	.article-card img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: none;
	}	

	.article-card .content {
		box-sizing: border-box;
		width: 100%;
		position: absolute;
		padding: 30px 20px 20px 20px;
		height: auto;
		bottom: 0;
		border: none;
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
	}

	.article-card .title {
		margin: 0;
	}	

	.article-card .title {
		font-size: 17px;
		color: #fff;
	}

	.versus {
		font-family: "Sigmar", sans-serif;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

	.animation {
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	.hidden{
		display: none;
	}

	.result-card {
		background-color: $base-color;
		border-radius: 12px;
		overflow: hidden;
		position: relative;
		padding: 30px 20px 20px 20px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 300ms;
	}

	@keyframes rotate {
		from {
			transform: rotateY(-180deg);
		}

		to {
			transform: rotateY(0);
		}
	}

	.rotate {
		animation-name: rotate;
		animation-timing-function: linear;
	}
</style>