---

---

<section>
	<h2>Noch unsicher?</h2>
	<p>Du fragst dich, ob du zum HüPC kommen solltest? Mache ein Quiz und entscheide selbst.</p>
	<div>
		<div>
			<h3>Option 1</h3>
			<p>Am Kamin chillen.</p>
		</div>
		<div>
			<h3>Option 2</h3>
			<p>Session besuchen.</p>
		</div>
	</div>
</section>

<style type="text/css">
	
</style>