---
import Pride from '../../public/pride.jpg'
---

<section class="container mt-4">
	<div class="row align-items-center">
		<div class="col-md-8">
			<h2 class="text-primary">Jetzt Anmelden!</h2>
			<p>Falls wir dich immer noch nicht überzeugt haben: All das ist kostenlos. Unerbringung und Verpflegung inklusive. Falls du kannst, freuen wir uns über eine Spende um all dies weiterhin möglich zu machen.<br>
			Du musst eigentlich arbeiten? Das Event ist in Niedersachen, Hamburg und Schleswig-Holstein als Bildungs-Urlaub anerkannt.<br>
			Wenn das mal keine gute Basis ist um es einfach mal auszubrobieren!</p>
			<button class="btn btn-primary">Anmelden</button>
		</div>
		<div class="col-md-4">
			<img src={Pride} class="img-thumbnail mw-100 img-fluid p-5">
		</div>p-4
	</div>
</section>/