---
import Insta from '../../public/icons/instagram-50.svg'
import Masto from '../../public/icons/mastodon-64.svg'
import YouTube from '../../public/icons/youtube-50.svg'
---

<div class="bg-primary p-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-3">
				<button class="btn bg-white font-weight-bold">Newsletter zum Event abbonieren</button>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<h2 class="text-white">Dem ABC Folgen:</h2>
			</div>
			<div class="col-md-1">
				<img src={Insta} alt="Icon Instagram">
			</div>
			<div class="col-md-1">
				<img src={Masto} alt="Icon Mastodon">
			</div>
			<div class="col-md-1">
				<img src={YouTube} alt="Icon YouTube">
			</div>
		</div>
	</div>
</div>