// Global SCSS variables, used to adjust Bootstrap stuff
// Only use this to set SCSS internal stuff that does not get rendered to CSS

$font-family-sans-serif: "Fira Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #1A073B;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";

// Colors:
$base-color: #FFFFFF; // white
$highlight-color: #1A073B; // dark rich purple
$primary-color: #F8BC72; // orange
$primary-color-light: #FFDDBF; // light orange
$secondary-color: #FBA389; // rosé

