---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Alpaka-head.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>

	<footer class="bg-light mt-4 py-3">
		<div class="container">
			<div class="col-12">
				Made with ❤️ in Kiel, Hamburg &amp; Mannheim
			</div>
		</div>
	</footer>
</html>
<style is:global lang="scss">
	@import "@fontsource/arsenal";
	@import "@fontsource/arsenal/700";
	@import "@fontsource/fira-sans";
	@import "@fontsource/fira-sans/600";

	@import "bootstrap/scss/reboot";
	@import "bootstrap/scss/reboot";
	@import "bootstrap/scss/type";
	@import "bootstrap/scss/containers";
	@import "bootstrap/scss/grid";
	@import "bootstrap/scss/buttons";


	@import "bootstrap/scss/helpers";
	@import "bootstrap/scss/utilities/api";

	h1, h2, h3, h4, h5, h6 {
		font-family: "Arsenal", $font-family-sans-serif;
	}
</style>
