---
export interface Props {
title: string;
}
const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import NavBar from '../components/NavBar.astro';
---
<!DOCTYPE html>
<html lang="de">
<script src={bootstrap}></script>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/Alpaka-head.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>

<body>
	<NavBar showbg />
	<div class="main-slot">
		<slot />
	</div>
	<footer class="bg-light mt-4 py-3">
		<div class="container">
			Made with ❤️ in Kiel, Hamburg &amp; Mannheim
		</div>
	</footer>
</body>
</html>

<style is:global lang="scss">
@import "@fontsource/arsenal/latin-400";
@import "@fontsource/arsenal/latin-700";
@import "@fontsource/fira-sans/latin-400";
@import "@fontsource/fira-sans/latin-600";
@import "@fontsource/sigmar/latin-400";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";


@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

:root h1,
h2 {
	--bs-heading-color: #1A073B !important;
}

:root button {
	--bs-accordion-active-bg: #FBA389;
}

h1 {
	font-family: "Sigmar", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Arsenal", $font-family-sans-serif;
}

h2 {
	font-weight: 400;
}

.button {
	width: 90px;
}

@include media-breakpoint-up(sm) {
	.sm-ms-2 {
		margin-left: 1.5rem !important;
	}
}

p {
	margin-bottom: 1.5rem !important;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.main-slot {
	flex-grow: 1;
}
</style>
