---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Alpaka-head.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>

	<footer>
		Made with ❤️ in Kiel, Hamburg &amp; Mannheim
	</footer>
</html>
<style is:global lang="scss">
	@import "@fontsource/arsenal";
	@import "@fontsource/arsenal/700";
	@import "@fontsource/fira-sans";
	@import "@fontsource/fira-sans/600";

	@import "bootstrap/scss/reboot";
	@import "bootstrap/scss/reboot";
	@import "bootstrap/scss/type";
	@import "bootstrap/scss/containers";
	@import "bootstrap/scss/grid";
	@import "bootstrap/scss/buttons";

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--color-red: #EF476F;
		--color-yellow: #FFD166;
		--color-green: #06D6A0;
		--color-blue: #118AB2;
		--color-dark-blue: #073B4C;
		--content-x-padding: 2rem;
	}

	html, body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #ffffff;
		font-size: 18px;
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Arsenal", system-ui, sans-serif;
		font-weight: 700;
	}

	footer {
		padding: 1rem var(--content-x-padding);
		background: #efefef;
	}
</style>
